:root {
  --color1: rgb(0, 231, 255);
  --color2: rgb(0, 60, 255);
  --back: url(https://lh3.googleusercontent.com/K2ZBAAvCJbWhQ9fYyU82Ndz6sWy2c3cNNMGR4fzVW-HJkKPN4k52QdKbBv2FLI70q5DiKFOYj0NsxDKXyMa9RFOoqheM2KY2HLVGUw=w600);
  --charizard1: rgb(131, 216, 255);
  --charizard2: #1100ff;
  --charizardfront: url(https://lh3.googleusercontent.com/gNQZgC_y-Ha5M02T6bh1yyp8lOjlitWy_Qw0RBPv7W63WJCl-cEm38ZOMi9b2alrNkeUEcS-kfHVAT0akL8Y5lNov3IQW6yACjEw=w600);
  --pika1: #1ffd44;
  --pika2: #51ff00;
  --pikafront: url(https://lh3.googleusercontent.com/eBfmAsq_kddeBmjYJ3sWN42dRsnCjhcfAhXbxBVe2MnxBpoTsTmG4KTdC5B98TVPeM9li3uqbUKB97g-EuoyQZVAZfxmHIWz5AZPq9k=w600);
  --eevee1: #828eff;
  --eevee2: #2b06ff;
  --eeveefront: url(https://gateway.pinata.cloud/ipfs/Qmf2HFAkKPF468fDR34uEax1bsWHv5ZtnnykmuxXjo3S9h/102.png);
  --mewtwo1: #ca53e2;
  --mewtwo2: #ff00d4;
  --mewtwofront: url(https://lh3.googleusercontent.com/lZrOyfv3Q9bxPwdE2RhqkYTYJY_j_icyJkRHS2q1-jj9qX1-T1FoXylV3Mx0f1kd67_4ejpMwX_xLnMJQVquSiL3Zy5OGdvB6Uk3kRc=w600);
  --sun1: #fff235;
  --sun2: #fbff0b;
  --sunfront: url(https://lh3.googleusercontent.com/K2ZBAAvCJbWhQ9fYyU82Ndz6sWy2c3cNNMGR4fzVW-HJkKPN4k52QdKbBv2FLI70q5DiKFOYj0NsxDKXyMa9RFOoqheM2KY2HLVGUw=w600);
}

.cardi {
  width: 71.5vw;
  height: 100vw;
  position: relative;
  overflow: hidden;
  margin: 20px;
  overflow: hidden;
  z-index: 10;
  touch-action: none;
  border-radius: 5%/3.5%;
  box-shadow: -5px -5px 5px -5px var(--color1), 5px 5px 5px -5px var(--color2), -7px -7px 10px -5px transparent, 7px 7px 10px -5px transparent, 0 0 5px 0px rgba(255, 255, 255, 0), 0 55px 35px -20px rgba(0, 0, 0, 0.5);
  transition: transform 0.5s ease, box-shadow 0.2s ease;
  will-change: transform, filter;
  background-color: #040712;
  background-image: var(--front);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  transform-origin: center;
}
@media screen and (min-width: 600px) {
  .cardi {
    width: clamp(12.9vw, 61vh, 18vw);
    height: clamp(18vw, 85vh, 25.2vw);
  }
}

.cardi:hover {
  box-shadow: -20px -20px 30px -25px var(--color1), 20px 20px 30px -25px var(--color2), -7px -7px 10px -5px var(--color1), 7px 7px 10px -5px var(--color2), 0 0 13px 4px rgba(255, 255, 255, 0.3), 0 55px 35px -20px rgba(0, 0, 0, 0.5);
}

.cardi.charizard {
  --color1: var(--charizard1);
  --color2: var(--charizard2);
  --front: var(--charizardfront);
}
.cardi.sun {
  --color1: var(--sun1);
  --color2: var(--sun2);
  --front: var(--sunfront);
}
.cardi.pika {
  --color1: var(--pika1);
  --color2: var(--pika2);
  --front: var(--pikafront);
}

.cardi.mewtwo {
  --color1: var(--mewtwo1);
  --color2: var(--mewtwo2);
  --front: var(--mewtwofront);
}

.cardi.eevee {
  --color1: #ec9bb6;
  --color2: #ccac6f;
  --color3: #69e4a5;
  --color4: #8ec5d6;
  --color5: #b98cce;
  --front: var(--eeveefront);
}

.cardi:before,
.cardi:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-repeat: no-repeat;
  opacity: 0.5;
  mix-blend-mode: color-dodge;
  transition: all 0.33s ease;
}

.cardi:before {
  background-position: 50% 50%;
  background-size: 300% 300%;
  background-image: linear-gradient(115deg, transparent 0%, var(--color1) 25%, transparent 47%, transparent 53%, var(--color2) 75%, transparent 100%);
  opacity: 0.5;
  filter: brightness(0.5) contrast(1);
  z-index: 1;
}

.cardi:after {
  opacity: 1;
  background-image: url("https://assets.codepen.io/13471/sparkles.gif"), url(https://assets.codepen.io/13471/holo.png), linear-gradient(125deg, #ff008450 15%, #fca40040 30%, #ffff0030 40%, #00ff8a20 60%, #00cfff40 70%, #cc4cfa50 85%);
  background-position: 50% 50%;
  background-size: 160%;
  background-blend-mode: overlay;
  z-index: 2;
  filter: brightness(1) contrast(1);
  transition: all 0.33s ease;
  mix-blend-mode: color-dodge;
  opacity: 0.75;
}

.cardi.active:after,
.cardi:hover:after {
  filter: brightness(1) contrast(1);
  opacity: 1;
}

.cardi.active,
.cardi:hover {
  -webkit-animation: none;
          animation: none;
  transition: box-shadow 0.1s ease-out;
}

.cardi.active:before,
.cardi:hover:before {
  -webkit-animation: none;
          animation: none;
  background-image: linear-gradient(110deg, transparent 25%, var(--color1) 48%, var(--color2) 52%, transparent 75%);
  background-position: 50% 50%;
  background-size: 250% 250%;
  opacity: 0.88;
  filter: brightness(0.66) contrast(1.33);
  transition: none;
}

.cardi.active:before,
.cardi:hover:before,
.cardi.active:after,
.cardi:hover:after {
  -webkit-animation: none;
          animation: none;
  transition: none;
}

.cardi.animated {
  transition: none;
  -webkit-animation: holoCard 12s ease 0s 1;
          animation: holoCard 12s ease 0s 1;
}
.cardi.animated:before {
  transition: none;
  -webkit-animation: holoGradient 12s ease 0s 1;
          animation: holoGradient 12s ease 0s 1;
}
.cardi.animated:after {
  transition: none;
  -webkit-animation: holoSparkle 12s ease 0s 1;
          animation: holoSparkle 12s ease 0s 1;
}

@-webkit-keyframes holoSparkle {
  0%, 100% {
    opacity: 0.75;
    background-position: 50% 50%;
    filter: brightness(1.2) contrast(1.25);
  }
  5%, 8% {
    opacity: 1;
    background-position: 40% 40%;
    filter: brightness(0.8) contrast(1.2);
  }
  13%, 16% {
    opacity: 0.5;
    background-position: 50% 50%;
    filter: brightness(1.2) contrast(0.8);
  }
  35%, 38% {
    opacity: 1;
    background-position: 60% 60%;
    filter: brightness(1) contrast(1);
  }
  55% {
    opacity: 0.33;
    background-position: 45% 45%;
    filter: brightness(1.2) contrast(1.25);
  }
}

@keyframes holoSparkle {
  0%, 100% {
    opacity: 0.75;
    background-position: 50% 50%;
    filter: brightness(1.2) contrast(1.25);
  }
  5%, 8% {
    opacity: 1;
    background-position: 40% 40%;
    filter: brightness(0.8) contrast(1.2);
  }
  13%, 16% {
    opacity: 0.5;
    background-position: 50% 50%;
    filter: brightness(1.2) contrast(0.8);
  }
  35%, 38% {
    opacity: 1;
    background-position: 60% 60%;
    filter: brightness(1) contrast(1);
  }
  55% {
    opacity: 0.33;
    background-position: 45% 45%;
    filter: brightness(1.2) contrast(1.25);
  }
}
@-webkit-keyframes holoGradient {
  0%, 100% {
    opacity: 0.5;
    background-position: 50% 50%;
    filter: brightness(0.5) contrast(1);
  }
  5%, 9% {
    background-position: 100% 100%;
    opacity: 1;
    filter: brightness(0.75) contrast(1.25);
  }
  13%, 17% {
    background-position: 0% 0%;
    opacity: 0.88;
  }
  35%, 39% {
    background-position: 100% 100%;
    opacity: 1;
    filter: brightness(0.5) contrast(1);
  }
  55% {
    background-position: 0% 0%;
    opacity: 1;
    filter: brightness(0.75) contrast(1.25);
  }
}
@keyframes holoGradient {
  0%, 100% {
    opacity: 0.5;
    background-position: 50% 50%;
    filter: brightness(0.5) contrast(1);
  }
  5%, 9% {
    background-position: 100% 100%;
    opacity: 1;
    filter: brightness(0.75) contrast(1.25);
  }
  13%, 17% {
    background-position: 0% 0%;
    opacity: 0.88;
  }
  35%, 39% {
    background-position: 100% 100%;
    opacity: 1;
    filter: brightness(0.5) contrast(1);
  }
  55% {
    background-position: 0% 0%;
    opacity: 1;
    filter: brightness(0.75) contrast(1.25);
  }
}
@-webkit-keyframes holoCard {
  0%, 100% {
    transform: rotateZ(0deg) rotateX(0deg) rotateY(0deg);
  }
  5%, 8% {
    transform: rotateZ(0deg) rotateX(6deg) rotateY(-20deg);
  }
  13%, 16% {
    transform: rotateZ(0deg) rotateX(-9deg) rotateY(32deg);
  }
  35%, 38% {
    transform: rotateZ(3deg) rotateX(12deg) rotateY(20deg);
  }
  55% {
    transform: rotateZ(-3deg) rotateX(-12deg) rotateY(-27deg);
  }
}
@keyframes holoCard {
  0%, 100% {
    transform: rotateZ(0deg) rotateX(0deg) rotateY(0deg);
  }
  5%, 8% {
    transform: rotateZ(0deg) rotateX(6deg) rotateY(-20deg);
  }
  13%, 16% {
    transform: rotateZ(0deg) rotateX(-9deg) rotateY(32deg);
  }
  35%, 38% {
    transform: rotateZ(3deg) rotateX(12deg) rotateY(20deg);
  }
  55% {
    transform: rotateZ(-3deg) rotateX(-12deg) rotateY(-27deg);
  }
}
.cardi.eevee:hover {
  box-shadow: 0 0 30px -5px white, 0 0 10px -2px white, 0 55px 35px -20px rgba(0, 0, 0, 0.5);
}

.cardi.eevee:hover:before,
.cardi.eevee.active:before {
  background-image: linear-gradient(115deg, transparent 20%, var(--color1) 36%, var(--color2) 43%, var(--color3) 50%, var(--color4) 57%, var(--color5) 64%, transparent 80%);
}

.demo .cardi {
  background-image: var(--back);
  font-size: 2vh;
}

.demo .cardi > span {
  position: relative;
  top: 45%;
}

.demo .cardi:nth-of-type(1),
.demo .cardi:nth-of-type(2),
.demo .cardi:nth-of-type(3) {
  width: 20vh;
  height: 27.5vh;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.4), 0 25px 15px -10px rgba(0, 0, 0, 0.5);
  -webkit-animation: none;
          animation: none;
}

.demo .cardi:nth-of-type(1):before, .demo .cardi:nth-of-type(1):after,
.demo .cardi:nth-of-type(2):before,
.demo .cardi:nth-of-type(2):after,
.demo .cardi:nth-of-type(3):before,
.demo .cardi:nth-of-type(3):after {
  -webkit-animation: none;
          animation: none;
}

.demo .cardi:nth-of-type(1):before, .demo .cardi:nth-of-type(1):after {
  display: none;
}

.demo .cardi:nth-of-type(2) {
  background: none;
}
.demo .cardi:nth-of-type(2):before {
  display: none;
}

.demo .cardi:nth-of-type(3) {
  background: none;
}
.demo .cardi:nth-of-type(3):after {
  display: none;
}

.operator {
  display: inline-block;
  vertical-align: middle;
  font-size: 6vh;
}

html, body {
  height: 100%;
  background-color: #000000;
  padding: 0;
  z-index: 1;
  transform: translate3d(0, 0, 0.1px);
}

body {
  color: white;
  background-color: #000000;
  font-family: "Heebo", sans-serif;
  text-align: center;
}

h1 {
  display: block;
  margin: 50px 0;
}
h2 {
  display: block;
  margin: 50px 0;
}
p {
  margin-top: 5px;
  font-weight: 200;
}

#app {
  position: relative;
}

.demo,
.cardis {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  perspective: 2000px;
  position: relative;
  z-index: 1;
  transform: translate3d(0.1px, 0.1px, 0.1px);
}

.demo {
  flex-direction: row;
  justify-content: center;
}

@media screen and (min-width: 600px) {
  .cardis {
    flex-direction: row;
  }
}
.cardis .cardi:nth-child(2), .cardis .cardi:nth-child(2):before, .cardis .cardi:nth-child(2):after {
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}
.cardis .cardi:nth-child(3), .cardis .cardi:nth-child(3):before, .cardis .cardi:nth-child(3):after {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
.cardis .cardi:nth-child(4), .cardis .cardi:nth-child(4):before, .cardis .cardi:nth-child(4):after {
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
}