rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

:root {
  --card-height: 65vh;
  --card-width: calc(var(--card-height) / 1.5);
  --button-bg: #8522c7;
  --button-active-bg: #681d9b;
  --small-button-bg: #919191;
  --small-button-active-bg: #646464;
  --button-text: #ffffff;
  --card: #ffffff;
  --accountText: #ffffff;
  --statusText: #470068;
  --bg-gradient_1: rgb(162, 196, 240);
  --bg-gradient_2: rgb(240, 162, 217);
  --gradient_1: rgb(83, 152, 243);
  --gradient_2: rgb(236, 71, 214);
  --gradient_3: rgb(241, 204, 80);
  --success: #24a13f;
  --warning: #ca5824;
  --error: #ca2f24;
}
* {
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 14px;
  font-weight: bold;
}


body {
  min-height: 100vh;
   display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 2rem;
  padding-bottom: 2rem;
  box-sizing: border-box;
}



.card {
  background-color: var(--card);
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  width: 300px;
  transition: 0.3s;
  margin: 50px;
  position: relative;
}

.card:hover {
  color: rgb(88 199 250 / 100%);
  transition: color 1s;
}
.card:hover:before, .card:hover:after {
  animation: none;
  opacity: 0;
}


.card::before {
  content: "";
  width: 104%;
  height: 102%;
  border-radius: 8px;
  background-image: linear-gradient(
    var(--rotate)
    , #0b38ff, #2864be 43%, #0a4f8f);
    position: absolute;
    z-index: -1;
    top: -1%;
    left: -2%;
    animation: spin 2.5s linear infinite;
}

.card::after {
  position: absolute;
  content: "";
  top: calc(var(--card-height) / 6);
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  transform: scale(0.8);
  filter: blur(calc(var(--card-height) / 6));
  background-image: linear-gradient(
    var(--rotate)
    , #0408ff, #8f5fff 43%, hsl(219, 100%, 57%));
    opacity: 1;
  transition: opacity .5s;
  animation: spin 2.5s linear infinite;

}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}

a {
  color: #212534;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: bold;
  margin-top: 2rem;
}