@font-face {
    font-family: 'BurfordRusticLineBold';
    src: url('BurfordRusticLineBold.woff') format('woff');

}




@font-face {
    font-family: 'BurfordRusticBookBlack';
    src: url('BurfordRusticBookBlack.woff') format('woff');

}